---
import githubImage from '~/assets/images/new/logos/github.png';
import linkedinImage from '~/assets/images/new/logos/linkedin.png';

---

<div class="flex gap-x-2">
  <a
    href="https://github.com/SwiftInvention"
    class="w-9 h-9 flex justify-center items-center"
    ><img src={githubImage.src} height={20} width={20} /></a
  >
  <a
    href="https://www.linkedin.com/company/swift-invention"
    class="w-9 h-9 flex justify-center items-center"
    ><img src={linkedinImage.src} height={20} width={20} /></a
  >
</div>

<style></style>
