@import "tailwindcss";

@theme {
  --color-transparent: transparent;
  --color-white: #fff;
  --color-secondaryCol1: #F3F3F3;
  --color-primaryCol3WithOpacity: rgba(255, 123, 83, 0.05);

  --color-surface: #020617;
  --color-title: #0F172A;
  --color-body: #1E293B;
  --color-subtle: #475569;

  --color-warning: #E03400;
  --color-warning-hover: #B82B00;
  --color-warning-500: #FF5F2E;

  --color-gray-solid: #334155;
  --color-gray-accent: #CBD5E1;
  --color-gray-accentText: #E2E8F0;

  --radius-2lg: 10px;

  --breakpoint-xs: 480px;

  --max-width-15xl: 874px;

  --spacing-18: 4.5rem;
  --spacing-22: 5.5rem;
  --spacing-25: 6.25rem;
  --spacing-30: 7.5rem;
  --spacing-34: 8.5rem;
  --spacing-37: 9.25rem;
  --spacing-50: 3.75rem;
  --spacing-100: 25rem;

  --shadow-card: 0 0 23px 0 rgba(0,0,0,0.5);
  --shadow-card-hovered: 0 0 35px 0 rgba(0,0,0,0.7);

  --font-size-lg: 1rem;
  --font-size-lg--line-height: 1.5rem;
  --font-size-lg--letter-spacing: 0.08px;

  --font-size-lg-desktop: 1.125rem;
  --font-size-lg-desktop--line-height: 1.75rem;
  --font-size-lg-desktop--letter-spacing: 0.09px;

  --font-size-xl: 1.125rem;
  --font-size-xl--line-height: 1.5rem;
  --font-size-xl--font-weight: 600;
  --font-size-xl--letter-spacing: 0.09px;

  --font-size-xl-desktop: 1.25rem;
  --font-size-xl-desktop--line-height: 1.9375rem;
  --font-size-xl-desktop--font-weight: 600;
  --font-size-xl-desktop--letter-spacing: 0.1px;

  --font-size-2xl: 1.25rem;
  --font-size-2xl--line-height: 1.875rem;
  --font-size-2xl--font-weight: 600;
  --font-size-2xl--letter-spacing: 0.1px;

  --font-size-2xl-desktop: 1.5rem;
  --font-size-2xl-desktop--line-height: 2rem;
  --font-size-2xl-desktop--font-weight: 600;
  --font-size-2xl-desktop--letter-spacing: 0.12px;

  --font-size-3xl: 1.375rem;
  --font-size-3xl--line-height: 2rem;
  --font-size-3xl--font-weight: 600;
  --font-size-3xl--letter-spacing: 0.11px;

  --font-size-3xl-desktop: 1.875rem;
  --font-size-3xl-desktop--line-height: 2.5rem;
  --font-size-3xl-desktop--font-weight: 600;
  --font-size-3xl-desktop--letter-spacing: 0.15px;

  --font-size-6xl: 2.25rem;
  --font-size-6xl--line-height: 3rem;
  --font-size-6xl--font-weight: 600;
  --font-size-6xl--letter-spacing: 0.18px;

  --font-size-6xl-desktop: 3.75rem;
  --font-size-6xl-desktop--line-height: 4.25rem;
  --font-size-6xl-desktop--font-weight: 600;
  --font-size-6xl-desktop--letter-spacing: 0.3px;

  --font-size-7xl: 3rem;
  --font-size-7xl--line-height: 3.5rem;
  --font-size-7xl--font-weight: 600;
  --font-size-7xl--letter-spacing: 0.24px;

  --font-size-7xl-desktop: 4.5rem;
  --font-size-7xl-desktop--line-height: 5rem;
  --font-size-7xl-desktop--font-weight: 600;
  --font-size-7xl-desktop--letter-spacing: 0.36px;

  --font-size-9xl-desktop: 8rem;
  --font-size-9xl-desktop--line-height: 8.5rem;
  --font-size-9xl-desktop--font-weight: 700;
  --font-size-9xl-desktop--letter-spacing: 0.64px;

  --font-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-page-head: page-head 1s ease-in-out;

  @keyframes page-head {
    0% { transform: translateY(-60px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
  }
}

@layer base {
  @font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Bold.woff2) format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Medium.woff2) format("woff");
    font-weight: 500;
  }
  @font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Regular.woff2) format("woff");
    font-weight: 400;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--color-surface);
  }

  * {
    outline-color: rgb(0, 95, 204);
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1440px] px-4 md:px-8 xl:px-20;
  }

  .case-studies-logos {
    border-radius: var(--rounded-none, 0px) var(--rounded-none, 0px) var(--rounded-3xl, 24px) var(--rounded-3xl, 24px);
    border-right: 1px solid #020617;
    border-bottom: 1px solid #020617;
    border-left: 1px solid #020617;
    background: linear-gradient(180deg, #020617 20.65%, #0F172A 100%);

    /* shadow-5-strong */
    box-shadow: 0px 2px 25px -5px var(--alpha-always-dark-15, rgba(15, 23, 42, 0.15)), 0px 25px 21px -5px var(--alpha-always-dark-10, rgba(15, 23, 42, 0.10));
  }

  .case-studies-link {
    border-radius: var(--rounded-3xl, 24px) var(--rounded-3xl, 24px) var(--rounded-none, 0px) var(--rounded-none, 0px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
  }

  .contact__form {
    border-radius: var(--rounded-none, 0px) var(--rounded-none, 0px) var(--rounded-3xl, 24px) var(--rounded-3xl, 24px);
    background: linear-gradient(180deg, #020617 1.04%, #0F172A 95.8%);

    /* shadow-5-strong */
    box-shadow: 0px 2px 25px -5px var(--alpha-always-dark-15, rgba(15, 23, 42, 0.15)), 0px 25px 21px -5px var(--alpha-always-dark-10, rgba(15, 23, 42, 0.10));
  }

  .contact__form-desktop {
    border-radius: var(--rounded-none, 0px) var(--rounded-3xl, 24px) var(--rounded-3xl, 24px) var(--rounded-none, 0px);
    background: linear-gradient(90deg, #020617 0%, #0F172A 100%);

    /* shadow-5-strong */
    box-shadow: 0px 2px 25px -5px var(--alpha-always-dark-15, rgba(15, 23, 42, 0.15)), 0px 25px 21px -5px var(--alpha-always-dark-10, rgba(15, 23, 42, 0.10));
  }

  .team-member-photo {
    background: linear-gradient(135deg, #020617 6.14%, #0F172A 94.42%);
  }

  .team-member-glow {
    border-radius: 364px;
    border: 10px solid var(--auxiliary-orange-700, #E03400);
    background: rgba(255, 123, 83, 0.10);
    filter: blur(100px);
  }

  .transparent-text {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 21.9%, rgba(15, 23, 42, 0.00) 73.55%);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    position: relative;
  }

  .transparent-number:after, .transparent-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; /* Adjust height to cover the bottom stroke */
    z-index: 1; /* Ensure it sits above the text */
    pointer-events: none; /* Let text interactions pass through */
  }
  .transparent-number:after {
    background: linear-gradient(to top, rgb(2, 6, 23, 1) 0%, transparent 100%);
  }
  .transparent-text:after {
    background: linear-gradient(to top, rgb(2, 6, 23, 1) 15%, transparent 100%);
  }

  .transparent-number {
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 21.9%, rgba(15, 23, 42, 0.00) 73.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
  }

  .bg-mbs-music {
    background: linear-gradient(180deg, rgba(0, 10, 13, 0.97) 5.72%, rgba(0, 10, 13, 0.50) 32.6%, rgba(0, 10, 13, 0.25) 100%), url('/images/mbs-bg.png');
  }

  .case-study-hover:hover {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.40), 0px 0px 0px 4px rgba(255, 255, 255, 0.45);
  }
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
