@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Akzidenz-Grotesk;
    src: url(/fonts/Berthold-akzidenz-grotesk-be-regular.woff) format("woff");
    font-weight: 400;
  }
  @font-face {
    font-family: Akzidenz-Grotesk;
    src: url(/fonts/Berthold-akzidenz-grotesk-be-medium.woff) format("woff");
    font-weight: 500;
  }
  body {
    background-color: #212121;
  }
}